*{
  border:0;
  margin:0;
  box-sizing:border-box;
}
.App {
  text-align: center;
}
#Netflix, #Holiday{
  margin:auto;
  width:50%;
  min-height:25vh;
  display:flex;
}

.netflix-child{
  min-width:20%;
}
.holiday-child{
  min-width:25%;
  padding:0.5em;
}
#BBC{
  margin:auto;
  width:60%;
  max-height:15vh;
  display:flex;
}

.BBC-child{
  width:25%;
  padding:0px 5px 0px 5px;
  display:flex;
  flex-direction: column;
  align-items: left;
}
.BBC-image{
  width:100%;
  min-height:45%;  
}
.BBCTitle{
  text-align:left;
  font-size: 14px;
  font-weight:900;
}
.BBCContent{
  font-size:12px;
  font-weight:500;
}
.BBCFooter{
  align-content:left;
  font-size:12px;
  justify-content: baseline;
}
.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.images{
  width:100%;
  height:100%;
}
.holiday-image{
  width:100%;  
}
p{
  text-align:left;
  font-size:0.65rem;
}